<!doctype html>
<html lang="<%= site.locale %>"
    class="h-full antialiased"
    style="--header-position:sticky; --header-height:64px; --header-mb:0px; --header-top:0px; --avatar-top:0px;">
    <head>
        <%= render "head", metadata: site.metadata, title: resource.data.title %>
    </head>

    <body class="flex h-full flex-col bg-zinc-50 dark:bg-black  <%= resource.data.layout %> <%= resource.data.page_class %>">
        <div id="__next">
            <div class="fixed inset-0 flex justify-center sm:px-8">
                <div class="flex w-full max-w-7xl lg:px-8">
                    <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
                </div>
            </div>
            <div class="relative">
                <%= render Shared::Header.new(metadata: site.metadata, resource: resource, data: site.data) %>
                <main>
                    <%= yield %>
                </main>
                <%= render "footer" %>
            </div>
        </div>
    </body>
</html>