<!doctype html>
<html lang="<%= site.locale %>"
    class="h-full antialiased"
    style="--header-position:sticky; --header-height:64px; --header-mb:0px; --header-top:0px; --avatar-top:0px;">
    <head>
        <%= render "head", metadata: site.metadata, title: resource.data.title %>
    </head>

    <body class="flex h-full flex-col bg-zinc-50 dark:bg-black  <%= resource.data.layout %> <%= resource.data.page_class %>">
        <div id="__next">                
            <div class="hidden">
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-400 rounded-md bg-gray-400/10 ring-1 ring-inset ring-gray-400/20">Badge</span>
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-red-400 rounded-md bg-red-500/10 ring-1 ring-inset ring-red-400/20">Badge</span>
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-yellow-500 rounded-md bg-yellow-500/10 ring-1 ring-inset ring-yellow-400/20">Badge</span>
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-green-400 rounded-md bg-green-500/10 ring-1 ring-inset ring-green-500/20">Badge</span>
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-blue-400 rounded-md bg-blue-400/10 ring-1 ring-inset ring-blue-400/30">Badge</span>
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-indigo-400 rounded-md bg-indigo-500/10 ring-1 ring-inset ring-indigo-400/30">Badge</span>
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-purple-400 rounded-md bg-purple-500/10 ring-1 ring-inset ring-purple-400/30">Badge</span>
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-pink-400 rounded-md bg-pink-500/10 ring-1 ring-inset ring-pink-400/20">Badge</span>
            </div>
            <div class="fixed inset-0 flex justify-center sm:px-8">
                <div class="flex w-full max-w-7xl lg:px-8">
                    <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
                </div>
            </div>
            <div class="relative">
                <%= render Shared::Header.new(metadata: site.metadata, resource: resource, data: site.data) %>
                <main>
                    <%= yield %>
                </main>
                <%= render "footer" %>
            </div>
        </div>
    </body>
</html>