<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>
<title><% if resource_title != "Index" %><%= resource_title %> | <%= metadata.title %><% else %><%= metadata.title %>: <%= metadata.tagline %><% end %></title>

<meta name="description" content="<%= metadata.description %>" />

<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/system/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/system/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/system/favicon-16x16.png">
<link rel="manifest" href="/images/icons/system/site.webmanifest">
<link rel="stylesheet" href="<%= webpack_path :css %>" />
<script defer src="https://unpkg.com/alpinejs@3.8.1/dist/cdn.min.js"></script>
<script src="<%= webpack_path :js %>" defer></script>
<script>
  if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    document.documentElement.classList.add('dark')
  } else {
    document.documentElement.classList.remove('dark')
  }
  
  function scrollToShow() {
    return {
      sticky: false,
      lastPos: window.scrollY + 0,
      downDelay: 0,
      upDelay: 64,
      scroll() {
        // this.sticky = window.scrollY > this.$refs.navbar.offsetHeight && this.lastPos > window.scrollY;
        // this.lastPos = window.scrollY;
        let downDelay = this.downDelay;
        let { top, height } = this.$refs.navbar.getBoundingClientRect()
        let upDelay = this.upDelay;
        let scrollY = clamp(
          window.scrollY,
          0,
          document.body.scrollHeight - window.innerHeight
        )
        
        console.log("scrollY", scrollY);
        console.log("this.downDelay", downDelay);
        console.log("top", top);
        console.log("height", height);
        console.log("top + height", top + height);
        if (this.sticky) {
          setProperty('--header-position', 'sticky')
        }

        setProperty('--content-offset', `${downDelay}px`)

        if (this.sticky || scrollY < downDelay) {
          setProperty('--header-height', `${downDelay + height}px`)
          setProperty('--header-mb', `${-downDelay}px`)
        } else if (top + height < -upDelay) {
          console.log("top + height < -this.upDelay", top + height < -upDelay);
          console.log("scrollY", scrollY);
          console.log("this.upDelay", upDelay);
          console.log("scrollY - this.upDelay", scrollY - upDelay);
          let offset = Math.max(height, scrollY - upDelay);
          console.log("offset", offset);
          setProperty('--header-height', `${offset}px`)
          setProperty('--header-mb', `${height - offset}px`)
        } else if (top === 0) {
          setProperty('--header-height', `${scrollY + height}px`)
          setProperty('--header-mb', `${-scrollY}px`)
        }

        if (top === 0 && scrollY > 0 && scrollY >= downDelay) {
          setProperty('--header-inner-position', 'fixed')
          removeProperty('--header-top')
          removeProperty('--avatar-top')
        } else {
          removeProperty('--header-inner-position')
          setProperty('--header-top', '0px')
          setProperty('--avatar-top', '0px')
        }
      }
    }
  }

  function clamp(number, a, b) {
    let min = Math.min(a, b)
    let max = Math.max(a, b)
    return Math.min(Math.max(number, min), max)
  }

  function setProperty(property, value) {
    document.documentElement.style.setProperty(property, value)
  }

  function removeProperty(property) {
    document.documentElement.style.removeProperty(property)
  }
</script>
<%= live_reload_dev_js %>
