<article class="group relative flex flex-col items-start">
    <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
        <div class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl">
        </div>
        <a href="<%= @appearance.url %>" target="_blank">
            <span class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl">
            </span>
            <span class="relative z-10">
                <%= @appearance.title %>
            </span>
        </a>
    </h3>
    <p class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5">
        <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
            <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500">
            </span>
        </span><%= @appearance.event.name %> - <%= @appearance.event.date %> - <%= @appearance.event.location %></p>
    <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
        <%= @appearance.description %>
    </p>
    <div class="z-10 w-full relative rounded-xl overflow-auto mt-4">
        <% if @appearance.embed_url.include? "youtube" %>
            <iframe class="w-full aspect-video rounded-lg object-cover shadow-lg" src="<%= @appearance.embed_url %>?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% else %>
            <img class="w-full aspect-w-16 aspect-h-9 rounded-lg object-cover shadow-lg" src="<%= @appearance.embed_url %>">
        <% end %>
    </div>
    <div aria-hidden="true" class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">
        <%= @appearance.action %>
        <svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="ml-1 h-4 w-4 stroke-current">
            <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </div>
</article>